body {
  background-color: #fff;
}

header {
  height: 250px;
}

header .nav .btn {
  margin: 10px;
}

.logo {
  height: 100px;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  margin: 10px 0px;
}

.logo .btn {
  margin-left: 10px;
}

.logIn {
  float: right;
}
